body {
    margin: 0;
    font-family: arial, sans-serif;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 109px;
}

.nav {
    display: flex;
    text-decoration: none;
}

.nav li{
    display: inline;
    font-size: 13px;
    padding-left: 15px;
}

.navleft {
    flex: 1;
    margin: 17px 0px 0px 10px;
    padding-left: 15px;
}

.navright {
    flex: -1;
    margin: 7px 0px 0px 10px;
    padding-right: 15px;

}

#signin {
    color: #fff;
    cursor: default;
    text-decoration: none;
    border: 1px solid #1a73e8;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: .25px;
    outline: none;
    background: -webkit-linear-gradient(top,#4387fd,#4683ea);
    display: inline-block;
    line-height: 28px;
    padding: 5px 23px 5px 23px;
    border-radius: 4px;
}

#signin:hover {
    background: #5593ff;
    border-color: #5593ff;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}

#searchbarcontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 20px;
}

#searchbar {
    height: 40px;
    width: 600px;
    font-size: 14px;
    background-image: url(https://cdn2.hubspot.net/hubfs/4004166/bioticresearch_website_assets/images/search_icon.png);
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 40px;
    background-color: transparent;
    border: 1px solid #dfe1ef;
    border-radius: 24px;
    box-shadow: none;
    -webkit-appearance: none;
}


.buttons {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    height: 36px;
    cursor: pointer;
    margin-top: 30px;
}

.searchbutton {
    margin-right: 7.5px;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    font-family: arial,sans-serif;
    font-size: 14px;


}

.searchbutton:hover {
    border-color:  #d2d2d3;
    cursor: pointer;
}

.luckybutton {
    margin-left: 7.5px;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    font-family: arial,sans-serif;
    font-size: 14px;
}

.luckybutton:hover {
    border-color: #d2d2d3;
    cursor: pointer;
}

.footer {
    display: flex;
    align-content: center;
    background-color: #e9e9e9;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer li {
    display: inline;
    font-size: 13px;
    padding-left: 15px;
}

.footerleft {
    flex: 1;
    padding-left: 200px;
    
}

.footerright {
    flex: -1;
    padding-right: 200px;
}