body {
    margin: 0;
    font-family: arial, sans-serif;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 109px;
}

.nav {
    display: flex;
    text-decoration: none;
}

.nav li{
    display: inline;
    font-size: 13px;
    padding-left: 15px;
}

.navleft {
    flex: 1;
    margin: 7px 0px 0px 10px;
    padding-left: 15px;
}

.navright {
    flex: -1;
    margin: 7px 0px 0px 10px;
    padding-right: 15px;

}

#signin {
    color: #fff;
    cursor: default;
    text-decoration: none;
    border: 1px solid #4285f4;
    font-weight: bold;
    outline: none;
    background: -webkit-linear-gradient(top,#4387fd,#4683ea);
    display: inline-block;
    line-height: 28px;
    padding: 0 12px;
    border-radius: 2px;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}

#searchbarcontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

#searchbar {
    padding-top: 10px;
    padding-bottom: 10px;
    outline: none;
    width: 500px;
    border-radius: 20px;
    border: 2px solid #eeeeee;
}
